<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Next Best Movie</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

		<body>


			<div class="container">
				<h1>You probably have a movie or TV show in mind right now.</h1>
				<h2>Let me know which movie or show you're thinking about.</h2>
				<form class="form-inline">
				    <div class="form-group">
				    	<label class="sr-only" for="exampleInputEmail3">Email address</label>
				    	<input type="email" class="form-control" id="title" placeholder="Movie/Show Title">
				    </div>
			  	</form>


			<h2>Are you thinking about the Characters?  The Story?  The Music?</h2>
			<h2>Which factor really stands out for you right now?</h2>
			<div class="form-group">
			    <label for="factor">Example select</label>
			    <select class="form-control" id="exampleFormControlSelect1">
					<option>Character(s)</option>
					<option>Story</option>
					<option>Music</option>
					<option>Director</option>
					<option>Eye Candy</option>
				</select>


			<button class="btn btn-primary" type="What Should I Watch Next?">Button</button>


			</div>


		</body>	
</html>